{% extends 'Portal/base.html' %}
{% block titulo %}Julcar | Login{% endblock titulo %}
{% block contenido %}


<section
{% load static%}
  class='img-fluid pt-5 pt-sm-1 pt-md-1' 
  style='
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, .30) 15%, rgba(0, 0, 0, 0.30) 25%), url({% static 'img/fondo.jpg' %});
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-shadow: 1px 2px 3px black;
    color: white;
  '>
  
  {% if messages %}
  <div class="text-md-center">
    <h2>{{messages}} </h2>
  </div>
  {% endif %}
  
  <div class='loginContainer mx-auto my-lg-5 my-sm-0 my-md-5 p-3'>
    <div div class="text-md-center "> <h1 class="tituloBienvenidos">Julcar</h1> </div>
    <div div class="text-md-center "> <h2 class="tituloBienvenidos">Bienvenidos a la plataforma de pedidos</h2> </div>
    <div class="contenedorContacto form-container" >
      
      <form class='col-5 text-center' id='formulario_login' name='formulario_login' action='{% url 'loginView' %}' method='POST'>
        
        {% csrf_token %}
        <p class='row lead'> {{ formulario_login.username.label }} </p>
        <p class='row'>  {{ formulario_login.username }}</p>
        <p class='row lead'> {{ formulario_login.password.label }} </p>
        <p class='row'>  {{ formulario_login.password }}</p>
        
        

        
  
        <button class="btn btn-primary m-4" type="submit">Ingresar</button>
      
      </form>

    </div>
  </div>
</div>
 
</section>


{% endblock contenido %}