{% extends 'Portal/base.html' %}
{% block titulo %}Julcar | Lineas {% endblock titulo %}
{% block contenido %}


<section id='mostrarLineasContainer'>
  
  <div class='d-flex justify-content-center mt-5'>
    {% if messages %}
     {% for message in messages  %}
     <div class="alert alert-success" role="alert">
      {{message}}
    </div>
     {% endfor %}
    {% endif %}
    <h1>Seleccione una linea</h1>
  </div>

  <div class='cards_conteiner my-2'>
    {% for linea in lineas %}
    <div class="card_grid">
      {% load static %}
      
        <div class="card_image img">
        <a href='seleccion/{{linea}}'> <img id="{{linea}}" src='{% static linea %}.jpg' alt="Card image cap" width='100%' class='imagen'></a>
        </div>
        <div class="card_btn">
          <a href='seleccion/{{linea}}' class='btn_hover text-dark text-decoration-none d-flex align-items-center justify-content-center'>{{linea}}</a>
        </div>
       
    </div>
    {%endfor%}
  </div>
</section>


{% endblock contenido  %}