{% extends 'Portal/base.html' %}
{% block titulo %}Julcar | Lineas {% endblock titulo %}
{% block contenido %}


<section id='mostrarLineasContainer'>
  
  <div class='d-flex justify-content-center mt-5'>
    {% if messages %}
     {% for message in messages  %}
     <div class="alert alert-success" role="alert">
      {{message}}
    </div>
     {% endfor %}
    {% endif %}
    {% comment %} <h1>SELECCIONE UNA LINEA</h1> {% endcomment %}
  </div>

  <div class=' my-2 mb-5'>
   
    <div class="d-flex flex-wrap mx-auto justify-content-around contenedorLineas ">
      {% for linea in lineas %}
      {% load static %}            
      
        {% comment %} <div class="card_image img">
        <a href='seleccion/{{linea}}'> <img id="{{linea}}" src= '/media/img/{{linea}}.jpg' alt="Card image cap" width='100%' class='imagen'></a>
        
        <div class="card_btn">
          <a href='seleccion/{{linea}}' class='btn_hover  text-decoration-none d-flex align-items-center justify-content-center'>{{linea}}</a>
        </div>  {% endcomment %}

        <div class="card mt-2 me-1 contenedorCard overflow-hidden"  >
          <div class="card_image img overflow-hidden">
            <a href='seleccion/{{linea}}'>
               <img id="{{linea}}" src= '/media/img/{{linea}}.jpg' alt="Card image cap" width='100%' class='imagen card-img-top '>
            </a>
          </div>
          <div class="card-body card_btn">
            <a href='seleccion/{{linea}}' class='btn_hover  text-decoration-none d-flex align-items-center justify-content-center  '>{{linea}}</a>
          </div>
        </div>
       
   
    {%endfor%}
     </div>
  </div>
</section>


{% endblock contenido  %}