
<header>
    {% load static %}
    <nav class="navbar navbar-expand-lg" style='background-color: rgb(53, 152, 101);'>
      <div class="container-fluid">
  
        {% comment %} <a class="navbar-brand mr-4 logo fs-3" href="/inicio"><img src="{% static  'img/logoAmarilloChico.png' %}" width=50%></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> {% endcomment %}
        
        <a href='/abm' class='nav-link' >  <p class="bi-cursor logoPanel">Panel de Administracion</p></a>
        <a href='/' class='nav-link m-2 btn btn-warning '>Salir del Panel de Administrador</a>
        {% comment %} <form class="d-flex" role='search'>
          <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="buscar">
          <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Buscar</button>
        </form> {% endcomment %}
  
         
          <ul class="list-unstyled d-inline-flex flex-wrap ms-auto mb-2 mb-lg-0 mx-2">
            {% comment %} <a class="navbar-brand mx-3" href="#">
              <i class="bi bi-cart-fill" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" id="btnModalBoot"></i>
            </a> {% endcomment %}
            <li class="nav-item mx-2 ">
              <a class="nav-link active  btn btn-primary      " href="/productoCreateView"> Alta Productos </a>
            </li>
            <li class="nav-item mx-2  ">
              <a class="nav-link active btn btn-primary  " href="/search">Editar/Borrar Producto  </a>
            </li>  
            <li class="nav-item mx-2 " >
              <a class="nav-link active btn btn-success  " href="/subirPedidoPorMail"> Subir Catalogo </a>
            </li> 
            <li class="nav-item mx-2 ">
              <a class="nav-link active btn btn-success  " href="/subirFoto">Subir Foto </a>
            </li>
            
            <li class="nav-item mx-2  ">
              <a class="nav-link active btn btn-success" href="/subirLista">Subir lista de Precios  </a>
            </li>
            {% comment %} <li class="nav-item mx-2  ">
              <a class="nav-link active btn btn-secondary" href="/prioridad">Priorizar Lineas</a>
            </li> {% endcomment %}
            <li class="nav-item mx-2  ">
              <a class="nav-link active  btn btn-danger" href="#" id='btnVaciarBase'>Vaciar Base(OJO)  </a>
            </li> 
               
             <li class="nav-item mx-2  ">
              <a class="nav-link active   btn btn-secondary  " href="/subirCsv" >Subir CSV  </a>
            </li>  
            <li class="nav-item mx-2  ">
              <a class="nav-link active btn btn-link border border-2 " href="/admin">Ir a Admin  </a>
            </li>  
            <li class="nav-item mx-2  ">
              <a class="nav-link active  btn btn-danger" href="/baseDeDatos">Actualizar Base de Datos</a>
            </li>  
               
          </ul>       
         
        
      </div>
    </nav>
  
  </header>
  {% block contenido %}
  {% endblock contenido%}