{% extends 'Administrador/AdministradorBase.html' %}
{% block titulo %}Julcar | Prioridad Lineas{% endblock titulo %}
{% block contenido %}

<h1 class="AdministradorCreateTitle">Establezca la prioridad de las lineas ubicando los nombres en los recuadros</h1>
<div class='d-flex justify-content-evenly'>
<form action='/confirmaPrioridad' method='POST' class='flex-column'>
    {% csrf_token %}
    <input type='text' class='casillas' id='casilla1' name='casilla1' ondrop="drop(event)" ondragover="allowDrop(event)"> 
    <input type='text' class='casillas' id='casilla2' name='casilla2' ondrop="drop(event)" ondragover="allowDrop(event)">
    <input type='text' class='casillas' id='casilla3' name='casilla3' ondrop="drop(event)" ondragover="allowDrop(event)">
    <input type='text' class='casillas' id='casilla4' name='casilla4' ondrop="drop(event)" ondragover="allowDrop(event)"> 
    <input type='text' class='casillas' id='casilla5' name='casilla5' ondrop="drop(event)" ondragover="allowDrop(event)"> 
    <input type='text' class='casillas' id='casilla6' name='casilla6' ondrop="drop(event)" ondragover="allowDrop(event)"> 
    <input type='text' class='casillas' id='casilla7' name='casilla7' ondrop="drop(event)" ondragover="allowDrop(event)"> 
    <input type='text' class='casillas' id='casilla8' name='casilla8' ondrop="drop(event)" ondragover="allowDrop(event)"> 
    <button class='btn btn-success' type='submit' id='confirmarPrioridad'>Confirmar Prioridad</button>
</form>
    <div>
{% for linea in lineas %}
<p draggable="true" ondragstart="drag(event)" id='{{linea}}' style="cursor:pointer" ><b>{{linea}}</b> </p>
{% endfor %}
    </div>
</div>  
<div class='d-flex justify-content-center mt-1'>
  
   <button class='btn btn-danger ms-1' id='resetPrioridad' onclick="location.reload()" >Reset</button>
</div>


{% endblock contenido %}